:root {
  --primary-color:hsl(217, 19%, 35%);
  --secondary-color:hsl(214, 17%, 51%);
  --third-color:hsl(212, 23%, 69%);
  --background-color:hsl(210, 46%, 95%);
}


*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body {
  font-family: 'Manrope',sans-serif;
  font-size:13px;
  line-height: 1.5;
  height:100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width:100%;
  height:100%;
}

.container {
  margin:auto;
}

.card {
  max-width:860px;
  display:flex;
  border-radius:10px;
  background-color:#fff;
}



/*Card*/
.card-header {
  width:40%;
}

.card-header img {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius:10px;
}


/*Card body*/
.card-body {
  width:60%;
  padding:30px 40px 10px 40px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-body h1 {
  color:var(--primary-color);
  font-size:25px;
  font-weight: 700;
  margin-bottom:12px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-body p {
  color:var(--secondary-color);
  font-size:15px;
  font-weight:500;
}

.card-body .user {
  width:100%;
  height:80px;
  margin-top:auto;
  display:flex;
  flex-direction: row;
  align-items: center;
  position:relative;
}

.card-body .user .user-info {
  margin-left:20px;
}

.card-body .user .user-info h5 {
  color:var(--primary-color);
  font-size:13px;
  font-weight: 700;
}

.card-body .user .user-info small {
  color:var(--secondary-color);
  font-weight:500;
}

.card-body .user .user-profile-pic {
  height:40px;
  width:40px;
}

.card-body .user .user-profile-pic img {
  border-radius:50%;
}

.card-body .user .btn {
  background-color:var(--background-color);
  color:var(--secondary-color);
  padding:8px 10px;
  border-radius:50%;
  margin-left:auto;
  z-index:3;
}



.share-container {
  display: flex;
  width:250px;
  height:60px;
  border-radius:10px;
  background-color:var(--primary-color);
  align-items:center;
  justify-content:center;
  position:absolute;
  top:-75%;
  right:-29%;
  opacity:0;
}


.share-container::after {
  content: '';
  width:20px;
  height:20px;
  background-color:var(--primary-color);
  position:absolute;
  transform:rotate(45deg);
  bottom:-10px;
}

.share-container h5, .share-container a {
  color:var(--third-color);
  font-size:13px;
  font-weight: 500;
  letter-spacing: 5px;
  padding:10px;
}

/*Button classes*/
.share-container.active {
  opacity:1;
}

.card-body .user .btn.btn-on {
  background-color:var(--third-color);
  color:#f4f4f4;
}

/*Attribution container */
.attribution {
  text-align: center;
}

/*Medias*/

/*Smartphones*/
@media(max-width:500px) {
  .card {
    flex-direction: column;
    max-width:360px;
  }

  .card-header, .card-body {
    width:100%; 
  }

  .card-header img {
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:unset;
  }

  .card-body {
    padding:20px 32px 0 32px;
    position:relative;
  }

  .card-body h1 {
    font-size:18px;
  }

  .card-body .user {
    position:unset;
    margin-top:10px;
    height:65px;
  }

  .card-body .user .share-container h5 {
    margin-left:7%;
  }

  .attribution {
    font-size:12px;
  }

  .share-container {
    width:100%;
    justify-content:start;
    top:auto;
    left:0;
    bottom:0;
    border-radius:0 0 10px 10px;
  }

  .share-container::after{
    display:none;
  }
}

/*Tablets*/
@media(min-width:501px){
  .card {
    max-width:700px;
  }

  .card-body {
    padding:30px 25px 10px 25px;
  }

  .card-body h1 {
    font-size:23px;
  }

  .card-body p {
    font-size:14px;
  }

}
