*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body {
  font-family: 'Manrope',sans-serif;
  font-size:13px;
  color:hsl(217, 19%, 35%);
}

main {
  height:100vh;
  background-color: #edf2f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;
  padding:0 50px;
}

.post-pic {
  max-width: 660px;
}

.article-container {
  max-width: 800px;
  background-color:#fff; 
  text-align: left;
  display: flex;
  align-items:center;
}

.article-post {
  margin:auto;
  width:80%;
  height: auto;
}

.article-post h1 {
  font-weight:700;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-top:15px;
  font-size:2.18rem;
}

.article-post p {
  letter-spacing: 1px;
  margin-top:1.87rem;
  font-size:20px;
  line-height: 1.6;
}


.post-pic img {
  width:100%;
  height:100%;
  object-fit: cover;
}

.post-author {
  margin-top:30px;
  height:100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.post-author .profile {
  display:flex;
}

.post-author .profile .user-info {
  margin:0 30px;
  line-height: 1.6;
}

.post-author .profile .user-info h3 {
  font-size:1rem;
  font-weight:700;
  margin: 4px 0;
}

.post-author .profile .user-info h4 {
  font-weight: 500;
  color:hsl(214, 17%, 51%);
  word-spacing:2px;
}


.post-author .profile img {
  max-width:3.75rem;
  border-radius:50%;
}

.post-author .share-button {
  position:relative;
}

/* Share links container */
.share-container {
  border-radius: 10px;
  width:300px;
  padding:20px 30px;
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: hsl(217, 19%, 35%);
  color:white;
  position:relative;
  position: absolute;
  right:10%;
  bottom:40%;
}

.share-container::after{
  content:'';
  width:30px;
  height:30px;
  position:absolute;
  bottom:-15px;
  left:135px;
  transform: rotate(45deg);
  background-color: hsl(217, 19%, 35%);
}

.share-container * {
  z-index: 10;
}

.share-container p, .share-container a {
  color:hsl(210, 46%, 95%);
  flex-basis: 100%;
  align-self: stretch;
}

.share-container p {
  align-self: center;
  letter-spacing: 5px;
  font-weight: 500;
  color: hsl(212, 23%, 69%);
}

.share-container a {
 margin-left:25px; 
}

.share-container a img {
  height:100%;
  object-fit: cover;
}

button {
  width:52px;
  height:52px;
  border:none;
  border-radius:50%;
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media(max-width: 500px) {
  .flex-container {
    flex-direction: column;
    padding:0 20px;
  }

  .article-post h1 {
    font-size:16px;
  }

  .article-post p {
    font-size:12px;
  }

  .post-author .profile img {
    width:50px;
    height:50px;
  }

  .post-author .profile .user-info {
    margin: 0 10px;
  }

  .post-author .profile .user-info h3 {
    font-size:11px;
  }

  .post-author .profile .user-info h4 {
    font-size:10px;
  }

  .share-container {
    display: none;
  }
}